.section.immersive-teaser-container {
  background-color: #18171a;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}
.right-separator {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.immersive__content {
  padding: 24px;
}
.immersive__content .immersive__heading{
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.immersive__content .immersive__description {
  font-size: 12px;
  color: #ffffff;
}

.immersive__content .immersive__action .button {
  padding: 12px 24px;
  font-size: 14px;
  background-color: white;
  color: black;
  font-weight: normal;
  text-decoration: none;
  border-radius: 0px;
  display: inline-block;
  clip-path: polygon(
    10px 0,        /* top-left clipped */
    100% 0,        /* top-right */
    100% calc(100% - 10px), /* bottom-right clipped */
    calc(100% - 10px) 100%, 
    0 100%,        /* bottom-left */
    0 10px         /* back to top-left path */
  );
}

.immersive__image {
  position: relative; 
  overflow: hidden;  
}
.immersive__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;

  background: linear-gradient(
    to right,
    rgba(24, 23, 26, 1) 0%,
    rgba(24, 23, 26, 0.7) 15%,
    rgba(24, 23, 26, 0.4) 30%,
    transparent 50%
  );
}
@media (min-width: 768px) {
  .right-separator {
  display: flex;
  flex-direction: row;
  width: 100%;
}
}
@media (min-width: 1024px) {
  .right-separator {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.immersive__image {
  flex: 0 0 65%;
  max-width: 65%;
  margin-right: 0%;
  height: 100%;
}
.immersive__content .immersive__action .button {
  font-size: 20px;
}
.immersive__content {
  flex: 0 0 35%;
  max-width: 35%;
  padding:0;
  padding-left: 56px;
}
.immersive__content .immersive__heading{
  font-size: 58px;
  font-weight: bold;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
}

.immersive__content .immersive__description {
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 56px;
}

}


